.paper {
    composes: paper from '../auth-base.css';
}

.title {
    composes: title from '../auth-base.css';
}

.text {
    composes: text from '../auth-base.css';
}

.submit {
    composes: submit from '../auth-base.css';
    margin-top: 60px !important;
}

.question {
    composes: question from '../auth-base.css';
}

.login {
    composes: ins from '../auth-base.css';
}

a:visited {
    color: #366EFF !important;
}
