.paper {
    composes: paper from '../auth-base.css';
    padding-bottom: 48px;
}

.title {
    composes: title from '../auth-base.css';
    margin-bottom: 70px;
}

.wrapper {
    composes: wrapper from '../auth-base.css';
}

.eye {
    composes: eye from '../auth-base.css';
}

.text {
    composes: text from '../auth-base.css';
}

.submit {
    composes: submit from '../auth-base.css';
    margin-top: 42px !important;
    margin-bottom: 0 !important;
}
